body {
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
  color: #fff;
}

.container {
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.custom-img {
  max-width: 400px;
  min-width: 400px;
}

.display-4 {
  font-size: 2rem;
}

.btn-primary {
  background-color: #39FF14;
  border: none;
}

.btn-outline-secondary {
  border-color: #FF007F;
  color: #FF007F;
}

.btn-outline-secondary:hover {
  background-color: #FF007F;
  color: #000;
}
