<!-- Bootstrap CDN Link -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
<!-- Fontawesome CDN Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Custom CSS Link -->
<link rel="stylesheet" href="../../css/style.css" />
<!-- Efecto retro -->
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark">
  <span class="fas fa-dice"></span>
  <a class="navbar-brand" href="#">The Game Corner</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/juegos">Todos los Juegos</a>
      </li>
      <li class="nav-item" *ngIf="userName">
        <a class="nav-link" routerLink="/reservas">Mis Reservas</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <ng-container *ngIf="userName; else loginRegisterLinks">
      <button (click)="mostrarInfoUsuario()" class="btn btn-secondary">
        <i class="fas fa-user"></i>
      </button>
      <span class="navbar-text">
        Bienvenido, {{ userName }}!
      </span>
      <button (click)="logout()" class="btn my-2 my-sm-0" type="button">Cerrar Sesión</button>
    </ng-container>
    <ng-template #loginRegisterLinks>
      <button routerLink="/register" class="btn my-2 my-sm-0" type="button">Regístrate</button>
    </ng-template>
  </div>
</nav>
<br>
<div class="user-info-overlay" *ngIf="boolMostrarInfoUsuario">
  <div class="user-info-modal">
    <h5>Información del Usuario</h5>
    <p>Nombre de usuario: {{ userName }}</p>
    <button (click)="mostrarInfoUsuario()" class="btn btn-primary">Cerrar</button>
  </div>
</div>
