<div class="container">
  <h3 class="fw-bold fs-2 text-center retro-text">Nuestros Juegos</h3>
  <div class="row mt-4">
    <div class="col-md-4 mb-4" *ngFor="let game of featuredGames">
      <div class="card h-100">
        <img src="{{game.imageUrl}}" class="card-img-top" alt="{{game.name}}">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <p class="card-text">{{game.description}}</p>
          <button *ngIf="userName" (click)="reserveGame(game.id)" class="btn btn-primary">Reservar</button>
        </div>
      </div>
    </div>
  </div>
</div>
