<div *ngIf="juego" class="reserva-container">
  <div class="juego-detalle">
    <h2 class="juego-titulo">{{ juego.name }}</h2>
    <img [src]="juego.imageUrl" alt="{{ juego.name }}" class="juego-imagen">
    <p class="juego-descripcion">{{ juego.description }}</p>
  </div>

  <form (ngSubmit)="hacerReserva()" class="reserva-form">
    <div class="form-group">
      <label for="fechaReserva" class="form-label">Fecha de reserva (Disponible solo a partir del próximo lunes):</label>
      <input type="date" id="fechaReserva" [(ngModel)]="fechaReserva" name="fechaReserva" [min]="fechaMinima" class="form-control">
    </div>

    <div class="form-group">
      <label for="horario" class="form-label">Selecciona un horario:</label>
      <select id="horario" [(ngModel)]="horarioSeleccionado" name="horario" class="form-control">
        <option *ngFor="let horario of horarios" [value]="horario">{{ horario }}</option>
      </select>
    </div>
    <div class="mb-3 text-center">
    <button type="submit" class="btn btn-reserva">Reservar</button>
      <button routerLink="/juegos" class="btn btn-secondary">Volver</button>
    </div>
  </form>
</div>
