/* Estilo retro para el texto */
.retro-text {
  font-family: 'Press Start 2P', cursive;
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  text-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/* Estilo retro para el fondo y el navbar */
.bg-dark {
  background-color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  text-shadow: 2px 2px 0px #000;
}

/* Estilos para las tarjetas */
.service-card {
  background-color: #222;
  color: #fff;
  border: 1px solid var(--retro-pink); /* Actualizado al color rosa retro */
  box-shadow: 0 0 10px var(--retro-pink); /* Actualizado al color rosa retro */
}

.service-card .productType, .service-card .productName {
  color: var(--retro-green); /* Actualizado al color verde retro */
}

/* Personalización del navbar-toggler para dispositivos móviles */
.navbar-toggler {
  border-color: var(--retro-pink); /* Actualizado al color rosa retro */
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='var(--retro-pink)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Actualizado al color rosa retro */
}

/* Estilo para los botones del formulario de búsqueda */
.btn-outline-success {
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  border-color: var(--retro-pink); /* Actualizado al color rosa retro */
}
.btn-outline-success:hover {
  color: #000;
  background-color: var(--retro-pink); /* Actualizado al color rosa retro */
}

/* Estilo para enlaces activos y hover en el navbar */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--retro-green); /* Actualizado al color verde retro */
}

/* Estilos para el formulario de búsqueda */
.form-inline .form-control {
  background-color: #222;
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  border-color: var(--retro-pink); /* Actualizado al color rosa retro */
}
.form-inline .form-control:focus {
  background-color: #333;
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  border-color: var(--retro-green); /* Actualizado al color verde retro */
}
.form-inline .btn {
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  background-color: #222;
  border-color: var(--retro-pink); /* Actualizado al color rosa retro */
}

/* Estilo para el pie de página si es necesario */
.footer {
  background-color: #000;
  color: var(--retro-pink); /* Actualizado al color rosa retro */
  text-align: center;
  padding: 20px 0;
}
