.container {
  width: 100%;
  position: fixed;
  top: 19%;
  left: 15%;
}

.retro-form h2, .retro-form form, .retro-form a, .retro-form p {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.retro-form .form-control {
  background-color: #000;
  border: 2px solid #FF007F;
  color: #39FF14;
}

.retro-form .form-control::placeholder {
  color: #39FF14;
}

.retro-form .form-text {
  color: #39FF14;
}

.retro-form .btn-primary {
  background-color: #FF007F;
  border-color: #39FF14;
  color: #000;
}

.retro-form .btn-primary:hover {
  background-color: #39FF14;
  color: #000;
}

.retro-form a {
  color: #FF007F;
}

.retro-form a:hover {
  color: #39FF14;
  text-decoration: underline;
}


